@import "tailwindcss";

:root {
  --bg: black;
  --fg: white;

  --primary: #1e40af;
  --secondary: #2563eb;
}

:root.light {
  --bg: white;
  --fg: black;

  --primary: #1e40af;
  --secondary: #2563eb;
}

html, body {
  background-color: var(--bg);
  color: var(--fg);

  transition: background-color 0.3s, color 0.3s;
}

/* 
.bg-theme { background-color: var(--bg);}
.text-theme { color: var(--fg);}
.border-theme { border-color: var(--fg);} */

/* Tailwind override helper: replace default colors with variables */
/* .bg-theme,
.text-theme,
.border-theme {
  transition: all 0.3s ease;
} */